@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  src: url("../assets/fonts/Inter-Italic-VariableFont_opsz,wght.woff2")
    format("woff2");
  font-display: swap;
}
