@use "fonts";

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

*:focus-visible {
  outline: 3px solid var(--focus);
}

.lucide {
  width: 1em;
  height: 1em;
}
